project_name                      = "medinotes"
environment                       = "dev"
aws_region                        = "ap-southeast-1"
dynamodb_table_name               = "medinotes-dev-memory"
ecr_repository_name               = "medinotes-dev-app"
app_runner_service_name           = "medinotes-dev-service"
app_runner_cpu                    = "1024"
app_runner_memory                 = "2048"
app_runner_min_size               = 1
app_runner_max_size               = 3
app_runner_max_concurrency        = 10
health_check_path                 = "/health"
health_check_interval             = 10
health_check_timeout              = 5
health_check_healthy_threshold    = 1
health_check_unhealthy_threshold  = 5
route53_hosted_zone_name          = ""
app_runner_custom_domain          = ""
next_public_clerk_publishable_key = "pk_test_replace_me"
next_public_clerk_jwt_template    = "replace-me"
gemini_api_url                    = "https://generativelanguage.googleapis.com/v1beta/openai/"
deepseek_api_url                  = "https://api.deepseek.com/v1"
grok_api_url                      = "https://api.x.ai/v1"
resend_from                       = "MediNotes <no-reply@agentairg.site>"
